@{List<Post> posts = ViewData["posts"] as List<Post>;}
        @foreach (var post in   posts )
{
        <div>
            <h1>
                @post.Title
            </h1>
            <p>
                @post.body
            </p>
        </div>
        <hr />

}

